.header__nav--list {
  border-radius: 3rem;
  background-color: #fff;
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}