.header__nav--list {
  flex-grow: 1;
  border-radius: 3rem;
  background-color: #fff;
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  padding: 1.5rem clamp(1rem, 1.5vw, 2rem);
}