.invite-block {
  grid-column: 3 / -1;
  grid-row: 1 / 2;
  background-image: url('../../../assets/background-1939128_1280.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
  height: 16.5rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: flex-end;
  gap: 2rem;

  &__message {
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
  }

  &__input-wrapper {
    position: relative;
  }

  &__invite-code {
    border-radius: 2rem;
    color: #b5b5b5;
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor:text;
  }

  &__copy-icon {
    background-image: url('../../../assets/copy-icon.svg');
    background-size: 1.75rem;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
    border: none;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    padding: 1.5rem;
    border-radius: 50%;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    transition: transform 0.2s ease-in;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.alert {
  color: #fff;
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  background-color: #000;
  padding: 1.5rem;
  border-radius: 1rem;

  &--error {
    background-color: #420000;
  }
}

.alert-enter {
  opacity: 0;
  transform: translateY(6rem)
}
.alert-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 2ms, transform 2ms;
}
.alert-exit {
  opacity: 1;
  transform: translateY(6);
}
.alert-exit-active {
  opacity: 0;
  transform: translateY(0);
  transition: opacity 2s, transform 2ms;
}