@import '../../../styles/variables.scss';

.search {
  border-radius: 3rem;
  padding: 2rem 10rem 1.5rem 1.5rem;
  border: none;
  font-size: 1rem;
  outline: none;
  position: relative;
  z-index: 3;

  &__wrapper {
    overflow: hidden;
    position: relative;
    border-radius: 3rem;
    padding: 2px;

    &:hover::before{
      animation: rotate 7s linear infinite;
      z-index: 1;
    }
    

    &::before {
      content: '';
      background-image: conic-gradient(
        #000 30deg,
        #333 30deg, 
      );
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
    }

    &::after {
      position: absolute;
      border-radius: 3rem;
      content: '';
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      z-index: 2;
    }
  }

  @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

  &::placeholder {
    color: #000;
    transition: transform 0.5s ease;
  }

  &-label {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    &::after {
      content: '';
      background-image: url('../../../assets/search-img.jpg');
      position: absolute;
      right: 1rem;
      top: 1rem;
      border-radius: 2rem;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      width: 3rem;
      height: 3rem;
      z-index: 3;

      transition: transform 0.3s ease-in;
  }

    &:hover .search-underline {
      width: 10.25rem;
    }

    &:hover.search-label::after {
      transform: scale(1.1);
    }

    &:active .search-underline {
      display: none;
    }
  }

  &-underline {
    transition: width 0.5s ease;
    position: absolute;
    height: 2px;
    border-radius: 1px;
    top: calc(3rem + 2px);
    left: calc(2rem - 7px);
    width: 0rem;
    background-color: #000;
  }
}
